<section class="about__background">
  <article class="about__body container">
    <div class="about__content">
      <h1 class="about__heading">
        <span class="highlight">About</span> Hotel BT
      </h1>
      <p class="about__body--content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        molestias veniam itaque amet suscipit enim minima mollitia. Fugit
        mollitia, libero quaerat quidem quia, iste tempore, deleniti
        reprehenderit quo deserunt minus rerum? Nostrum ab est obcaecati
        voluptates voluptatem nisi, quae praesentium voluptas ea, voluptatibus
        itaque hic aperiam rem ipsa. Suscipit, deserunt?
      </p>
      <p class="about__body--content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit
        cupiditate minus deleniti doloremque libero, iure unde architecto
        expedita sint praesentium aliquid laborum inventore? Deserunt.
      </p>
    </div>
    <picture>
      <a href="HOME.html"
        ><img class="about__image" src="/img/photo-2.jpg" alt=""
      /></a>
    </picture>
  </article>
</section>
