<section class="callout">
  <div class="box box-1">
    <i class="fas fa-hotel"></i>
    <h3 class="callout__heading">Great Location</h3>
    <p class="callout__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, possimus?
    </p>
  </div>
  <div class="box box-2">
    <i class="fas fa-utensils"></i>
    <h3 class="callout__heading">Free Meals</h3>
    <p class="callout__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, possimus?
    </p>
  </div>
  <div class="box box-3">
    <i class="fas fa-dumbbell"></i>
    <h3 class="callout__heading">Fitness Room</h3>
    <p class="callout__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, possimus?
    </p>
  </div>
</section>
