<div class="contact__block">
  <div class="container">
    <figure class="contact__block--content">
      <div>
        <i class="fas fa-hotel"></i>
        <h2 class="contact__block--heading">Location</h2>
        <p class="contact__block--para">Salmiya,Kuwait</p>
      </div>
      <div>
        <i class="fas fa-phone"></i>
        <h2 class="contact__block--heading">Phone Number</h2>
        <p class="contact__block--para">+965-60940062</p>
      </div>
      <div>
        <i class="fas fa-envelope"></i>
        <h2 class="contact__block--heading">Email Address</h2>
        <p class="contact__block--para">MuhammadQassim92@gmail.com</p>
      </div>
    </figure>
  </div>
</div>
