<section class="history">
  <img class="history__image" src="/img/photo-1.jpg" alt="" />
  <article class="history__content">
    <h2 class="history--heading">
      <span class="highlight">The History</span> Of Our Hotel
    </h2>
    <p class="history--body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam soluta
      voluptate eius ut optio aliquam libero consequuntur, quo autem, nulla
      neque necessitatibus totam? Ipsam aut eveniet quae. Dignissimos,
      voluptatem at.
    </p>
    <button class="btn btn--secondary"></button>
  </article>
</section>
