<section class="testimonial__background">
  <h1 class="testimonial__heading">What Our Guests Say</h1>
  <div class="container testimonial">
    <article class="reviews">
      <img class="testimonial--image" src="/img/person-1.jpg" alt="" />
      <p class="testimonial__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo hic
        placeat delectus, deleniti corporis, quasi amet, iure suscipit
        voluptates maxime doloribus officiis voluptatem ipsum at autem dolorem
        vel quae!
      </p>
    </article>
    <article class="reviews">
      <img class="testimonial--image" src="/img/person-2.jpg" alt="" />
      <p class="testimonial__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo hic
        placeat delectus, deleniti corporis, quasi amet, iure suscipit
        voluptates maxime doloribus officiis voluptatem ipsum at autem dolorem
        vel quae!
      </p>
    </article>
  </div>
</section>
